<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-ttP53qgaNBlvDLXl+9zWO5B4JlnNLV8DkaXiy6TQ/8ELOy0fEbn5Z3cTY4N7GM1PX9mD51BZg+XVFiV+4sVvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-2">
                <form asp-controller="Employees" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1zm13-6v-3h-7v-2h7V8l5 4z"/></svg></button>
                </form>
            </div>
            <div class="col-md-8">
                <form asp-controller="Employees" asp-action="Search" method="get">
                    <div class="input-group">
                        <input placeholder="Buscar" class="form-control" name="searchString" aria-describedby="id">
                        <button type="submit" class="btn btn-secondary" id="id">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table border-dark mt-3 text-center">
        <thead class="table table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Email</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Address</td>
                    <td>
                        <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-info"><i class="fas fa-light fa-info"></i></a>
                        <a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger"><i class="fas fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>